node_modules
npm-debug.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env.*
!.env.example
.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.dockerignore
tests
phpunit.xml
.phpunit.result.cache
vendor
composer.lock
